* {
  color: blue;
  font-family: Arial, sans-serif;
  background-color: lightblue;
}

td {
	background-color: lightgrey;
	padding: 13px;
	border: 2px solid #000000;
  text-align: center;
  font-size: 15px;
}

form {
  font-size: 14px;
}
